# Configurações locais
.env*
!.env.example

# Dependências
node_modules/
.pnp
.pnp.*

# Next.js
.next/
out/
next-env.d.ts

# Testes e compilação
coverage/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# macOS
.DS_Store

# Vercel
.vercel/

# Infraestrutura antiga
.wrangler/
.sites-runtime/
outputs/
work/